<h1 class="title">Angular Calculator</h1>

<div class="container">
    <div class="input">
        <label for="" class="label">First Number:</label>
        <input (input)="getFInput(inputOne.value)" type="text" class="field" #inputOne><br>
        <label for="" class="label">Second Number:</label>
        <input (input)="getSInput(inputTwo.value)" type="text" class="field" #inputTwo>
    </div>

    <div *ngIf="finalAns && (inputOne.value && inputTwo.value)" class="result">
        <hr>
        <p class="ans">&nbsp;<output type="text" [value]="finalAns"></output></p>
        <hr>
    </div>

    <div class="buttons">
        <button [disabled]="!inputOne.value || !inputTwo.value" (click)="toCalculate('1')" type="button" class="btn">Add</button>
        <button [disabled]="!inputOne.value || !inputTwo.value" (click)="toCalculate('2')" type="button" class="btn">Subtract</button>
        <button [disabled]="!inputOne.value || !inputTwo.value" (click)="toCalculate('3')" type="button" class="btn">Multiply</button>
        <button [disabled]="!inputOne.value || !inputTwo.value" (click)="toCalculate('4')" type="button" class="btn">Divide</button>
    </div>
</div>