<h1 class="title">Angular Calculator</h1>

<div class="container">
    <app-numbers
    (finalAnswer)="getRes($event)"
    (fNANVal)="getBoolean1($event)"
    (sNANVal)="getBoolean2($event)"
    (fNumVal)="getInput1($event)"
    (sNumVal)="getInput2($event)"
    (emptyOne)="getEmpty1($event)"
    (emptyTwo)="getEmpty2($event)"
    >
    </app-numbers>

    <app-result
    [finalAns]="answer"
    [fNAN]="fNan"
    [sNAN]="sNan"
    [fNum]="fNUM"
    [sNum]="sNUM"
    [choice]="op"
    [emptyF]="empOne"
    [emptyS]="empTwo"
    >
    </app-result>
<!-- <p>app-html {{fNUM}}</p>
<p>app-html {{sNUM}}</p>
<p>app-html {{fNan}}</p>
<p>app-html {{sNan}}</p>
<p>app-html {{empOne}}</p>
<p>app-html {{empTwo}}</p> -->

    <app-operations
    (operation)="getOperation($event)"
    [emptyF]="empOne"
    [emptyS]="empTwo"
    >
    </app-operations>
</div>